<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
  <typeAliases>
    <typeAlias type="com.heavelop.blogtube.model.User" alias="User"/>
    <typeAlias type="com.heavelop.blogtube.model.Bravo" alias="Bravo"/>
    <typeAlias type="com.heavelop.blogtube.model.BravoType" alias="BravoType"/>
    <typeAlias type="com.heavelop.blogtube.model.DialogueFull" alias="DialogueFull"/>
    <typeAlias type="com.heavelop.blogtube.model.DialogueType" alias="DialogueType"/>
    <typeAlias type="com.heavelop.blogtube.model.UserRole" alias="UserRole"/>
  </typeAliases>
</configuration>