<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heavelop.blogtube.dao.DialogueDao">
  <select id="fetchRandom" resultType="map">
    SELECT * FROM dialogue
    <if test="type != null">
      WHERE type = ${type}
    </if>
    ORDER BY RAND()
    LIMIT 1
  </select>
  <select id="fetchRandomBatch" resultType="Dialogue">
    SELECT * FROM dialogue
    <if test="type != null">
      WHERE type = ${type}
    </if>
    ORDER BY RAND()
    LIMIT #{count}
  </select>
  <select id="fetchBatchByUser" resultType="Dialogue">
    SELECT * FROM dialogue
    WHERE creatorId = ${creatorId}
    ORDER BY createTime DESC
    LIMIT ${count} OFFSET ${from}
  </select>
  <select id="fetchCountByUser" resultType="int">
    SELECT COUNT(*) FROM dialogue
    WHERE creatorId = ${creatorId}
  </select>
</mapper>